@import '../../assets/scss/variables';

.dropdown {
    border-radius: .5rem;
    width: 100%;
    position: relative;
    margin-bottom: 2rem;

    &__title {
        padding: 1rem;
        display: flex;
        justify-content: space-between;
        background-color: #FF6060;
        border-radius: .5rem;
        color: #FFFFFF;
        position: relative;
        z-index: 1;
    }
    &__btn {
        cursor: pointer;
        
        svg {
            height: 1rem;
        }
    }
    &__content {
        position: relative;
        z-index: 0;
        margin: -12px 0 0 0;
        background-color: #F6F6F6;
        border-radius: .5rem;
        max-height: 0;
        opacity: 0;
        transition: all 500ms ease-in-out;

        p, ul {
            padding: 1.5rem 1rem 1rem 1rem;
            margin: 0;
        }

    }
    .fadein {
        opacity: 1; 
        max-height: 1500px;
    }
}

.rotate {
    animation: rotate 1s forwards;
    animation-timing-function: cubic-bezier(.79,-0.08,.37,1.47);
}
@keyframes rotate {
    from { 
        transform: rotate(0); 
    }
    to { 
        transform: rotate(180deg);
    }
}