$color-bg: #E5E5E5;
$color-primary: #FF6060;
$color-white: #FFFFFF;
$color-black: #000000;

$breakpoint-sm: 36rem; // 576
$breakpoint-md: 48rem; //768
$breakpoint-lg: 64rem; //1024
$breakpoint-xl: 75rem; // 1200
