@import '../../assets/scss/variables.scss';
.card {
    width: 100%;
    border-radius: .5rem;
    overflow: hidden;
    height: 16rem;

    @media (min-width: $breakpoint-sm) {
        height: 22.5rem;
    }

    a {
        color: #FFFFFF;
    }

    &__thumb {
        position: relative;
        height: 100%;
        &:before {
            position: absolute;
            z-index: 1;
            height: 100%;
            width: 100%;
            background: linear-gradient(180deg, rgba(255,255,255,.2) 0%, rgba(0,0,0,0.8081699232427346) 100%);
            content: '';
        }
        
        img {
            object-fit: cover;
        }
    }
    &__image {
        max-width: 100%;
        min-height: 100%;
    }
    &__title {
        font-size: 1.2em;
        padding: 1rem;
        position: absolute;
        z-index: 2;
        bottom: .5rem;
    }
}