@import '../../assets/scss/variables.scss';

.footer {
    background-color: $color-black;
    color: $color-white;
    max-width: 100%;
    padding: 4rem 0 2rem 0;
    text-align: center;

    &__logo {
        width: 13.5rem;
        height: 4rem;
    }
}